{% extends "student/student-base.html" %}
{% load url from future %}


{% block main-content %}
	<div id="lecture-list-wrapper">
		
        <p>
            Start finding lectures relevant to you by choosing a Faculty below or doing a keyword search.
        </p>
        
        <div class="section-student-search">
        	<form action="{% url "student search events" page_year.url_id page_organisation.url_id %}">
        		<label for="lecture-search">Search for lectures</label>
        		<input type="text" name="q" id="lecture-search" placeholder="Enter keyword (e.g. lecturer, topic)" />
        		<input type="submit" id="lecture-search-submit" value=">" class="btn-type1 btn-medium" />
        	</form>
        </div>
		<!-- end search-box -->
		
        <h2>Find lectures by faculty</h2>        
        <table id="lecture-list">
        	{% for organisation in organisations %}
        		{% cycle '<tr>' '' %}
	    		<td><a href="{% url "student browse events" page_year.url_id organisation.url_id %}">{{ organisation.name }}</a></td>
		    	{% cycle '' '</tr>' %}
	        {% endfor %}
        </table>
    
    	<div class="section-student-filter">
	        <form action="{% url "student timetable customview" page_year.url_id %}">
	            <ul>
		            <li>
		                <label for="">I am</label>
		                <select id="student-year" name="student_year">
		                    <option value="I,IA,IB">A first year student</option>
		                    <option value="II,IIA,IIB">A second year student</option>
		                    <option value="III" >A third year student</option>
		                </select>
		            </li>
		            <li>
		                <label for="">Studying</label>
		                <select id="student-subject" name="student_subject">
		                	{# We may want to popluate this differently with some sort of mapping, but for the moment, organisation will do #}
				        	{% for organisation in organisations %}
		                    	<option value="{{ organisation.code }}">{{ organisation.name }}</option>
		                    {% endfor %}
		                </select>
		            </li>
		            <li>
		            	<input type="submit" name="" value="Show me my lectures" class="btn-type1 btn-medium"/>
		            </li>
	            </ul>
	        </form>
	    </div><!-- end type-of-student -->
    
	    <div id="university-term-times">
	        <h2>Cambridge term times</h2>
	        {% include "superadministrator/fragments/term-dates.html" %}
	    </div>
		
		{% if not user.is_logged_in %}
	    {# User is NOT logged in, show bog nagging them to log in #}
	    <div id="login-infobox">
			<h2>Log in to start<br /> building your timetable</h2>
			<a href="{% url "login url" %}" class="btn-large btn-type1">Log in</a>
			<div>
				<h2>How it works</h2>
				<p>You can use the lecture list to build your own personal study timetable, with everything you need in one</p>
				<ul>
					<li>
						<h3>Find your lectures</h3>
						<p>Browse the main lecture list to find your lectures and other scheduled events.</p>
						
					</li>
					<li>
						<h3>Add your lectures</h3>
						<p>Add your lectures to your timetable.</p>
					</li>
					<li>
						<h3>View it how you like</h3>
						<p>You can view your timetable on this site, print it, or export it to your usual calendar app.</p>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}
		
	</div><!-- end lecture-list-wrapper -->
{% endblock %}
