{% extends "student/results-base.html" %}

{% block facets-top %}
<div class="faculty-facet">
    <h2>Dept/Faculty</h2>    
    <select id="select-subject" class="select-subject-student" >
    {% for organisation in organisations %}
        {% if organisation.id == page_organisation.id %}
        	<option value="{{ organisation.code }}" selected="selected">{{ organisation.name }}</option>
        {% else %}
        	<option value="{{ organisation.code }}">{{ organisation.name }}</option>
        {% endif %}
    {% endfor %}
    </select>
    
    <input type="hidden" id="select-subject-initial" value="{{ page_organisation.code }}" />
    
    <!-- 
    <div id="select-subject-skin" class="select-subject-skin-student">
	    {% for organisation in organisations %}
	        {% if organisation.id == page_organisation.id %}
	        	{{ organisation.name }}
	        {% endif %}
	    {% endfor %}
        <span class="ic-select-arrow"></span>
    </div>
     -->
     
    <p>Use the lists below to filter your results further</p>
</div>
{% endblock facets-top %}

	    