{% extends "student/timetable-base.html" %}
{% load timetables_tags %}

{% block timetable-content %}
    <div class="term-timetable-list">

        <div style="display:none">
            {% include "fragments/info-dialog.html" with info_dialog_classes="info-box_type_event" %}
        </div>
        <div id="year-events" style="display: none;">
        {% for event in calendar.events %}
            <div class="event" 
                data-date="{{ event.get_timeslot.start_time|date:"Y-m-d" }}"
                data-owning-series-id="{{ event.owning_series_id }}">
                <div class="info-dialog__header-content">
                    <h3 class="event-type_{{ event.owning_series.owning_group.event_type|lower }}">
                        {{ event.get_title }} ({{ event.position1 }} of {{ event.get_series_length }})
                    </h3>
                </div>
                <div class="info-dialog__body">
                    <table class="event-info-table">
                        <tr>
                            <td class="event-info-table__label">Time</td>
                            <td class="event-info-table__value">{{ event.get_timeslot.start_time|date:"f a" }} &ndash; {{ event.get_timeslot.end_time|date:"f a" }}</td>
                        </tr>
                        <tr>
                            <td class="event-info-table__label">Lecturer</td>
                            <td class="event-info-table__value">
                                {% for staff in event.get_staff %}
                                    {{ staff.get_full_name }}{% if not loop.last %},{% endif %}
                                {% empty %}
                                    &mdash;
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td class="event-info-table__label">Location</td>
                            <td class="event-info-table__value">{{ event.get_location|default:"—" }}</td>
                        </tr>
                    </table>
                    <p>{{ event.owning_series.owning_group.description }}</p>
                </div>
            </div>
        {% endfor %}
        </div>

        {% for term_calendar in calendar.term_calendars %}
            <div class="term-timetable term-timetable_name_{{ term_calendar.term.term_info.name|lower }}">
                <h2 class="term-timetable__name">{{ term_calendar.term.term_info.name|humanise }} Term</h2>
                <div class="term-timetable__columns">
                    <div class="term-timetable__columnn-left">
                        <div class="term-timetable__calendar-list">
                            {% for month_calendar in term_calendar.month_calendars %}
                                {% include "student/fragments/month-small.html" with month_calendar=month_calendar include_monthyear="yes" %}
                            {% endfor %}
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <div class="term-timetable__columnn-right">
                        <div class="term-timetable__series">
                            <h4 class="term-timetable__title">Event Summary</h4>
                            <div class="term-timetable__series-list">
                                {% for series in term_calendar.series %}
                                    <div class="event-series event-series_type_{{ series.owning_group.event_type }}" data-series-id="{{ series.id }}">
                                        <h4 class="event-series__title">
                                            {{ series.title }}
                                            <a href="" class="event-series__remove-button ic-remove float-right"></a>
                                        </h4>
                                        <p class="event-series__datetime">Day/Time: <b>{{ series.date_time_pattern }}</b></p>
                                    </div>
                                {% empty %}
                                    <p class="term-timetable__no-events">No events this term.</p>
                                {% endfor %}
                            </div>                            
                        </div>
                    </div>
                    <div class="term-timetable__end"></div>
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}