{% extends "student/timetable-base.html" %}
{% load url from future %}

{% block timetable-content %}
    <div id="calendarCol">
        <div id="list-nav">
            <a id="prev" href="{% url "student timetable listview yearmonth" crsid=calendar_owner year=calendar.prev_year month=calendar.prev_month %}?{{request.GET.urlencode}}" class="ic-prev"></a>
            <span class="middle-date" >{{ calendar.start_date|date:"F Y" }}</span>
            <a id="next" href="{% url "student timetable listview yearmonth" crsid=calendar_owner year=calendar.next_year month=calendar.next_month %}?{{request.GET.urlencode}}" class="ic-next"></a>
        </div>
        {% include "student/fragments/month-small.html" with month_calendar=calendar %}
    </div>
    <div id="listCol">
        <ul id="eventList">
            {% for day in calendar.month_days %}
                <li class="eventListItem">
                <h4>{{ day.date|date:"l jS F" }}</h4>
                
                {% for event in day.events %}                                    
                    <ul>
                        <li class="{{ event.type }}"><h4>{{ event.get_title }}
                            ({{ event.position1 }} of {{ event.get_series_length }})</h4>
                        </li>
                        <li><label>Lecturer</label>{{ event.get_staff|join:", " }}</li>
                        <li><label>Location</label>{{ event.get_location }}</li>
                    </ul>
                {% endfor %}
                </li>
            {% empty %}
                <p>No events this month.</p>
            {% endfor %}
        </ul>
        
        <div class="clear"></div>
    </div>
    
    <div class="clear"></div>
{% endblock %}
