{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/student.css" %}">

<script type="text/javascript">
	var userLoggedIn {% if user.is_logged_in %}= true{% endif %};
</script>
    {% block studenthead %}
    
    {% endblock studenthead %}
{% endblock %}

{% block title-area %}
      <div id="title" class="content-container">Cambridge Lecture List</div>
{% endblock %}


{# This is the entire central portion of the page. #}
{% block content %}

{% block your-timetable %}

<div class="purple"><!--  --></div>
<div class="section-personalisedtimetable">
	<div>
		{%if user.is_logged_in %}
		{# User is logged in, show their personal timetable box thing #}
		<div class="btn-personalisedtimetable">
			<a href="javascript:void(0)" class="ic_timebuilder">Your Timetable<span class="counter"></span><span class="ic_down"></span></a>
		</div>
		
		<div class="section-personalisedtimetable-content-container">
			
			
			<div class="section-personalisedtimetable-view">
	             <div class="section-personalisedtimetable-view-header">
	                 <input type="checkbox" id="notify-checkbox" name="" value="{{ user.notification_email }}" {%if user.is_notified %}checked="true"{% endif %}>
	                 <label for="notify-checkbox" class="section-personalisedtimetable-view-header-notify">Notify me if my timetable changes at </label><input type="text" id="personalisedtimetable-notify-address" readonly="readonly" value="{{ user.notification_email }}" /> (<a id="notify-email-edit-link" href="javascript:void(0)">Edit...</a>)
	                 <h2 class="heading-dialog"></h2>
	                 
	                 <ul class="nav-horizontal nav-right">
	                     <li><a href="{% url "TODO" %}" class="ic-export">Export</a></li>
	                     <li><a href="{% url "TODO" %}" class="ic-print">Print</a>
	                 </li></ul>

					<ul class="nav-horizontal nav-central nav-bold">
	                    <li class="nav-selected"><a href="javascript:void(0)" class="michaelmas term-selector">Michaelmas</a></li>
	                    <li class="separator">|</li>
	                    <li><a href="javascript:void(0)" class="lent term-selector">Lent</a></li>
	                    <li class="separator">|</li>
	                    <li><a href="javascript:void(0)" class="easter term-selector">Easter</a></li>
	                 </ul>

	             </div>
	             
	             <div class="section-personalisedtimetable-view-content"></div>
	             
	             <div class="section-personalisedtimetable-view-footer">
	                 <a href="{% url "student timetable termview" user.username %}" class="btn-medium btn-type1">View as a calendar</a>
	             </div>
	    	</div>
			
		</div>
		{% else %}
		<div class="btn-personalisedtimetable-loggedout">
			<a href="javascript:void(0)" class="ic_timebuilder">Your Timetable</a>
			<p>To start building or to see your personal timetable <a href="{% url "login url" %}">Log in</a></p>
		</div>
		{% endif %}
	</div>
</div>    

{% endblock %}
    
{# content in the main area of the screen #}    
{% block main-content %}
{% endblock %}

<!-- event group metadata dialog -->
<div class="popup" id="popup_metadata" style="display: none;">
	<div class="expand">
		<div class="popup-top">
			<span class="hide-me">&nbsp;</span>
		</div>
		<div class="popup-content"></div>
	</div>
</div>
<!-- end dialog -->

<!-- help for exporting data from the personal timetable -->
<div class="popup" id="popup_export_help" style="display: none;">
	<div class="expand">
		<div class="popup-top">
			<span class="hide-me">&nbsp;</span>
		</div>
		<div class="popup-content">
			<div class="popup-content-head">
				<p>Export to a calendar app</p>
			</div>
			<div class="popup-content-description">
				<p>You can view your timetable in your usual calendar application (e.g. Outlook, Google Calendar).</p>
				<p>Copy this iCal URL and add it to your Calendar application:</p>
				<p><a href="http://timetables.caret.cam.ac.uk">http://timetables.caret.cam.ac.uk</a></p>
			</div>
		</div>
	</div>
</div>
<!-- end dialog -->

{% endblock content %}
