{% extends "superadministrator/super-administrator-base.html" %}
{% load url from future %}


{% block title-area %}
{% endblock title-area %}

{% block pagehelp %}
	<span help-title="Super Administration: Overview" style="display:none">
      <p>
      This page shows two lists of timetables. Published and unpublished. The unpublished
      timetables are timetables that are not visible to students. The published timetables are.
      From this page you can navigate to the timetables by clicking on the links or a specific
      timetable and click the view link. For your reference at the bottom of this page is a matrix
      of term times.
      </p>
   </span>			
{% endblock %}

{# No breadcrumbs on this page. #}
{% block admin-nav-breadcrumb %}{% endblock admin-nav-breadcrumb %}

{% block admin-page-content-header-title %}
Overview
{% endblock admin-page-content-header-title %}

{% block admin-header-additional-content %}
    <section id="view-faculty-timetables">
        {% include "superadministrator/fragments/view-faculty-timetables.html" %}
    </section>
{% endblock admin-header-additional-content %}



{% block admin-page-content %}
<section id="timetable-status" class="overview-container">
    {% include "superadministrator/fragments/timetable-status.html" %}
</section>

<section id="term-dates" class="overview-container">
    <h3>Term dates</h3>
    {% include "superadministrator/fragments/term-dates.html" %}
</section>
{% endblock admin-page-content %}