{% extends "superadministrator/super-administrator-base.html" %}

{% comment %}
This page is the "Administrators" page from the superadmin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}
{% block title-area %}{% endblock title-area %}

{% block pagehelp %}
	<span help-title="Super Administration: Add Administrator" style="display:none">
      <p>
      This form allows you to add a new administrator to the system and associate that administrator with one or more
      faculties. The CRSID must already exist. 
      </p>
      <dl>
        <dt> CRSID </dt><dd>is the crsid of the administrator (required) </dd>
        <dt> Super Admin </dt><dd> checking this checkbox gives the administrator permissions over all faculties in all years and access to the superadministration interface. </dd>
        <dt> Year and Faculty</dt><dd> Selecting these drop downs specifies the faculty that is being associated with the new administrator </dd>
        <dt> Faculty Admin or Key Faculty Admin</dt><dd> An administrator may have a limited set of right (faculty admin), or a full set of permissions (key faculty admin). Key faculty admins are normally the point of contact for the faculty. </dd>
        <dt> Permissions</dt><dd> Define what the administrator can do in the faculty</dd>
        <dt> Timetables</dt><dd> Define which timetables the administrator can perform operations on</dd>
      </dl>
   </span>			
{% endblock %}
{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}

{% include "superadministrator/fragments/add_administrator_form.html" %}
{% endblock admin-page-content %}