{% extends "superadministrator/super-administrator-base.html" %}
{% load url from future %}

{% block title-area %}{% endblock title-area %}
{% block pagehelp %}
	<span help-title="Super Administration: Add Faculty" style="display:none">
      <p>
      This form allows you to add a new faculty to the system and define levels and subjects. The faculty name must be unique for the year in which it is defined.
      </p>
      <dl>
        <dt> Name </dt><dd>the name of the faculty (required) </dd>
        <dt> Code </dt><dd> A short code for the faculty used in URLs.</dd>
        <dt> Year</dt><dd> Select a year for the faculty. </dd>
        <dt> Levels</dt><dd> Add, Edit, Delete levels for the faculty. </dd>
        <dt> Subjects</dt><dd> Add, Edit Delete subjects for the faculty and associated them with levels.</dd>
        <dt> New Classification Groups</dt><dd> In addition to Levels and Subjects you may want to add new classification groups
         and associate each classification within each group with a level.</dd>
      </dl>
   </span>			
{% endblock %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}

{% block admin-page-content %}
<section id="add-new-faculties" class="section-admin-content-group faculty form">
    {% include "superadministrator/fragments/add_faculty_form.html" %}
</section>
{% endblock admin-page-content %}