{% extends "superadministrator/super-administrator-base.html" %}
{% load url from future %}

{% comment %}
This page is the "faculties" page from the superadmin blueprint.
{% endcomment %}


{# Required to use variables in url tags. #}
{% load url from future %}
{% block title-area %}{% endblock title-area %}

{% block admin-header-additional-content-root %}{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}
<section id="edit-faculties" class="section-admin-content-group">
    {{ message }}
    <form method="post" action="">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" />
    </form>
</section>
{% endblock admin-page-content %}