{% extends "administrator/administrator-base.html" %}

{% block admin-nav-breadcrumb %}
    <ul>
        <li><b>You are here:</b></li>
        {% for page in breadcrumbs.traverse %}
        <li>
            {% include "superadministrator/fragments/output_page.html" with page=page %}
        </li>
        {% endfor %}
    </ul>
    
    <aside class="nav-breadcrumb-additional-content">
    {% block admin-nav-breadcrumb-additional-content %}
    {% endblock admin-nav-breadcrumb-additional-content %}
    </aside>
{% endblock admin-nav-breadcrumb %}

{% block admin-nav-main %}
    <ul class="section-admin-navigation">
    {% if navigation %}
        {% include "superadministrator/fragments/output_page.html" with page=navigation %}
        {% for page in navigation %}
            {% include "superadministrator/fragments/output_page.html" %}
            {% if page.children %}
            <li>
                <ul class="section-admin-subnavigation">
                {% for page in page.children %}
                    {% include "superadministrator/fragments/output_page.html" %}
                {% endfor %}
               </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
{% endblock admin-nav-main %}