body {
    font-family: sans-serif;
    color: #333333;
    margin: 0px;
    
}

#container {
    margin-left: 145px;
}
a:link, a:visited {
    color: #18B4C1;
    text-decoration: none;
}
#header {
    font-size: 0.8em;
    padding-bottom: 88px;
    padding-left: 24px;
    padding-top: 9px;
}
#header img {
    float: left;
    padding-top: 16px;
}
#header a:visited {
    color: #18B4C1;
    text-decoration: none;
}
#top-navigation {
    float: right;
    margin-right: 67px;
    padding-top: 35px;
}
#top-navigation li {
    display: inline;
    padding: 2px;
}
#title-area {
    background-color: #333333;
    border-bottom: 8px solid #D2A9D1;
    color: white;
    font-family: serif;
    font-size: 30px;
    font-weight: 90;
    margin-left: -145px;
    margin-right: 0px;
    padding-bottom: 14px;
    padding-left: 168px;
    padding-top: 14px;
}
#your-timetable {
    background-color: #8F2B8D;
    color: #CC9FCA;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;
    font-size: 14px;
    height: 29px;
    margin-right: 66px;
    padding-left: 72px;
    padding-top: 10px;
    width: 152px;
}
#your-timetable ul {
    list-style-type: none;
    margin-top: -3px;
    margin-left: -58px;
}
#your-timetable li {
    list-style-image: url("../images/timetable-icon.png");
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
#build-your-timetable {
    background-color: #F3F3F3;
    background-image: url("../images/dropdown.png");
    background-repeat: no-repeat;
    float: right;
    font-size: 17px;
    margin-right: 60px;
    margin-top: 10px;
    padding-top: 24px;
    text-align: center;
    width: 230px;
}
#build-your-timetable p {
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
#build-your-timetable .button {
    background-color: #18B4C1;
    border-radius: 4px 4px 4px 4px;
    font-size: 17px;
    height: 23px;
    margin: 13px auto 0;
    padding-bottom: 0;
    padding-top: 12px;
    width: 185px;
}
#build-your-timetable .button-text {
    margin-top: -6px;

}
#build-your-timetable a:link, #build-your-timetable a:visited  {
    color: #FFFFFF;
    text-decoration: none;
}

#how-it-works {
    margin-top: 30px;
}
#how-it-works h2 {
    font-size: 17px;
}
#how-it-works p {
    font-size: 13px;
    margin-left: 18px;
    margin-right: 18px;
    text-align: left;
}

#build-your-timetable-options {
    list-style-type: none;
    margin-top: 27px;
}
#build-your-timetable-options li {
    border-top-style: dashed;
    border-top-color: #D1D1D1;
    border-top-width: 1px;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 20px;
    padding-top: 18px;
    margin-right: 10px;
    color: #8F2B8D;
}
#build-your-timetable-options li .label {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    float: left;
    font-size: 20px;
    height: 28px;
    margin-left: -25px;
    margin-top: 2px;
    padding-top: 2px;
    text-align: center;
    width: 28px;
}
#build-your-timetable-options li .title {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: left;
}
#build-your-timetable-options li div {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}

#list-of-lectures {
    padding-right: 310px;
    margin-left: 23px;
}
#list-of-lectures p {
    font-family: serif;
    font-size: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-style: dashed;
    border-bottom-color: #D1D1D1;
    border-bottom-width: 1px;
}

form {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#E5E5E5');
    background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#E5E5E5));
    background: -moz-linear-gradient(top, #FEFEFE, #E5E5E5);
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 1px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0px 3px 5px 0px #CBCBCB;
    -webkit-box-shadow: 0px 3px 5px 0px #CBCBCB;
    box-shadow: 0px 3px 5px 0px #CBCBCB;
}

#search-box {
    height: 53px;
    margin-left: -8px;
    margin-top: 28px;
}

#search-box-entry {
    display: block;
    overflow: hidden;
    margin-top: 7px;
    margin-left: 22px;
    margin-right: 8px;
}
#search-box-entry label {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-top: 9px;
}
.expander {
    margin-left: 181px;
    margin-right: 40px;
}
#search-box-entry input[type="text"] {
	display: inline;
	height: 35px;
    border-style: solid;
    border-width: thin;
    border-color: #B0B0B0;
    width: 100%;
}
#search-box-entry input[type="submit"] {
    display: inline;
    background-color: #06B3C3;
    border: none;
    float: right;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: -39px;
    height: 39px;
    width: 37px;
}

#list-of-lectures ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
        
    
}
#list-of-lectures table {
    border-top: 1px dashed #D1D1D1;
    padding-top: 10px;
    margin-left: -3px;
}

#list-of-lectures h2 {
    font-size: 17px;
    margin-top: 27px;
    margin-bottom: 21px;
}

#list-of-lectures td {
	width: 50%;
	
}
#list-of-lectures-c1 li  {
	font-size: 14px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-right: 2px;
    border-bottom: 1px solid #D1D1D1;
}
#list-of-lectures-c2 li  {
    font-size: 14px;
    padding-top: 17px;
    padding-bottom: 15px;
    margin-left: 42px;
    border-bottom: 1px solid #D1D1D1;
}

#type-of-student  {
    margin-top: 49px;
    margin-left: 20px;
    margin-right: 306px;
    height: 97px;
}
#type-of-student table {
    margin-top: 16px;
    margin-left: 18px;
    margin-right: 2px;
    
}

#type-of-student th {
    text-align: left;
}
#type-of-student th {
    text-align: left;
}

#type-of-student select {
    border: solid thin #D1D1D1;
    width: 100%;
    height: 32px;
}
#type-of-student input[type="submit"] {
    color: white;
	background-color: #18B4C1;
    border-radius: 4px 4px 4px 4px;
	border: solid thin #D1D1D1;
    width: 146px;
    height: 32px;
}

#type-of-student-iam {
    width: 40%;
    padding-top: 7px;
    padding-right: 7px;
}
#type-of-student-studying {
    width: 49%;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}
#type-of-student-submit {
    width: 49%;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}

#university-term-times {
}
#university-term-times h2 {
    font-family: serif;
    font-size: 26px;
    margin-top: 52px;
    margin-left: 33px;
    border-bottom: dashed 1px #DFDFDF;
    padding-bottom: 15px;
    margin-right: 302px;
}
#university-term-times table {
    margin-left: 17px;
    margin-top: 0px;
    padding: 2px;
    border-collapse: collapse;
}
#university-term-times tr.header2 td.yearc {
	font-weight: bold;
}

#university-term-times td.yearc {
	width : 100px;
	text-align: center;
    border-left: none;
}
#university-term-times th {
    text-align: left;
	font-size: 12px;
    width: 75px;
    padding-left: 4px;
    border-bottom: 1px solid #DFDDDE;
}
#university-term-times td {
	font-size: 12px;
    width: 76px;
    padding-left: 4px;
    border-left: 1px solid #DFDDDE;
}

#university-term-times .odd {
    background-color:#F8F8F8;
}
#university-term-times .rowodd {
    background-color:#F5F5F5;
}

#university-term-times .intersection {
    background-color:#F0F0F0;
}

#university-term-times tr.header {
	height: 26px;
}
#university-term-times tr.header td {
}
#university-term-times tr.header2 {
    height: 23px;
}
#university-term-times tr {
    height: 33px;
}



#container-footer {
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 46px;
}

#container-footer table  {
   margin-left: 156px;
   margin-top: 53px;
}
#container-footer td  {
	vertical-align: top;
	padding-right: 77px;
}

#container-footer  h2  {
	font-size: 13px;
}

#container-footer ul  {
	padding-left: 0px;
}
#container-footer li  {
	font-size: 12px;
    list-style: none;
    margin-top: 4px;
}


/* Additional Styles for Logged in page */
.counter {
	color: #ffffff;
}

#timetable-dropdown {
	background-image: url('../images/downball.png');
	display: block;
	margin-left: 129px;
	margin-top: -21px;
	background-color: #8F2B8D;
	text-indent: -9999px;
	height: 26px;
	width: 26px;
}

#logged-in-compensation {
	padding-top: 39px;
}


