{% load url from future %}
{% load timetables_tags %}

<div class="number">Showing {{ administrators|length }} administrators</div>
<table class="admin-table-light sortable">
<tr>
    <th>Name</th>
    <th>CRSid</th>
    <th>Email</th>
    <th>Permission</th>
</tr>
{% for admin in administrators %}
    <tr>
        <td><a href="{% url "superadmin edit administrator" admin.username %}">
            {{ admin.get_full_name|default:"&mdash;" }}
        </a></td>
        <td><a href="{% url "superadmin edit administrator" admin.username %}">
            {{ admin.username }}
        </a></td>
        <td>
        {% if admin.email %}
            <a href="mailto:{{ admin.email|urlencode }}">{{ admin.email }}</a>
        {% else %}
            &mdash;
        {% endif%}
        </td>
        <td>
        	{% if admin in key_admins %}
        	Key Faculty
        	{% else %}
        	Faculty
        	{% endif %}
        </td>
    </tr>
{% endfor %}
</table>

