<tr class="classifier">
    <td class="name">
    	<input type="hidden" name="classifiers_group-{{ group_index }}" value="group-{{ group_index }}-classifier-{{ classifier_index }}">
    	{% if classifier.id %}
    	<input type="hidden" name="id_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.id }}">
    	{% else %}
    	<input type="hidden" name="id_group-{{ group_index }}-classifier-{{ classifier_index }}" value="group-{{ group_index }}-classifier-{{ classifier_index }}">
    	{% endif %}
    	<input type="hidden" name="deleted_group-{{ group_index }}-classifier-{{ classifier_index }}" value="">
    	<input type="hidden" name="value_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.value }}">
    	<input type="hidden" name="parent_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.parent_id|default:"" }}">
    	<input type="hidden" name="contact_person_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.contact_person|default:"" }}">
    	<input type="hidden" name="website_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.website|default:"" }}">
    	<input type="hidden" name="description_group-{{ group_index }}-classifier-{{ classifier_index }}" value="{{ classifier.description|default:"" }}">
        <span>{{ classifier.value }}</span>
    </td>
    <td class="controls">
        (
        <a class="edit" href="javascript:void(0)">Edit</a>
        |
        <a class="delete" href="javascript:void(0)">Delete</a>
        )
    </td>
</tr>