<div class="classifier-group box-container {% if not group.classifier_set.all %}empty{% endif %}">
    
    <input type="hidden" name="groups" value="group-{{ group_index }}">
    <input type="hidden" name="family_group-{{ group_index }}" value="{{ group.family }}">
    <input type="hidden" name="id_group-{{ group_index }}" value="{{ group.id|default:"" }}">
    <input type="hidden" name="deleted_group-{{ group_index }}" value="">

    <div class="classifier-group-controls">
        <input type="hidden" name="name_group-{{ group_index }}" value="{{ group.name }}">
        <label>{{ group.name }}</label>
        {% if group.family != "L" %}
            (
            <a href="javascript:void(0)" class="edit">edit</a>
            {% if group.family != "C" %} ) {% endif %}
        {% endif %}
        {% if group.family == "C" %}
            |
            <a href="javascript:void(0)" class="delete">delete</a>
            )
        {% endif %}
    </div>
    <div class="box">
        <table class="{% if group.family == "L" %}level-classifiers{% else %}other-classifiers{% endif %}">
            <tbody>
                {% for classifier in group.classifier_set.all %}
                    {% include "superadministrator/fragments/classifier.html" with classifier_index=forloop.counter0 %}
                {% endfor %}
            </tbody>
        </table>
        {% if group.family == "L" %}
        	<p class="when-empty help-msg">Click the <em>Add new</em> button below to add levels to this group.</p>
        {% else %}
        	<p class="when-empty help-msg">Click the <em>Add new</em> button below to add classifiers to this group.</p>
        {% endif %}
    </div>
    {% if group.family == "L" %}
    	<button type="button" id="add-level-button" class="btn-type1 btn-small">Add Level</button>
    {% else %}
    	<button type="button" class="add-new btn-type1 btn-small">Add new</button>
    {% endif %}

    {# Required to have the below errormessage div bind successfully. #}
    <input type=hidden class="workaround">
    <div class="validate_classifier_group errormessage">At least one classifier is required and no classifiers may have the same name.</div>
</div>