{% extends "superadministrator/fragments/add_administrator_form.html" %}

{% block admin-edit-disable-hook %}
<div class="field checkbox right {{ admin_form.is_disabled.css_classes }}">
        {{ admin_form.is_disabled }}
        {{ admin_form.is_disabled.label_tag }}
        <!-- <a id="btn-delete" 
           class="ic-delete float-right" 
           href="javascript:void(0)">Disable admin</a> -->
</div>
{% endblock admin-edit-disable-hook %}