{% extends "superadministrator/fragments/add_faculty_form.html" %}
{% load url from future %}

{% block edit-faculty-delete-hook %}
<label class="float-right">
	<input type="checkbox" name="delete_faculty"> Delete faculty
</label>
{% endblock edit-faculty-delete-hook %}

{% block edit-faculty-view-timetable %}
<a href="{% url "admin events" organisation.year.starting_year organisation.code %}">View timetable »</a>
{% endblock edit-faculty-view-timetable %}


{% block faculty-administrators %}
	<section id="administrators">
		<ul class="block-label list-horizontal">
            <li>
                <h3>Faculty Administrators</h3>
            </li>
            <a href="{% url "superadmin add administrator" %}?yid={{ organisation.id }}" class="btn-type1 btn-medium float-right">Add New Administrator</a>
        </ul>
		{% include "superadministrator/fragments/administrators_table_bs.html" with url_params=url_params %}
	</section>
{% endblock faculty-administrators %}