<div class="faculty-affiliation django-form" data-form-prefix="{{ form.prefix|default:"" }}">
{# Hidden field to track the id of the OrganisationRole this (kinda) represents #}
{{ form.model_id }}
{% if form.DELETE %}
    <input type="hidden" name="{{ form.DELETE.html_name }}" id="id_{{ form.DELETE.html_name }}">
{% endif %}
<fieldset>
    {# using h3 instead of legend because of: https://bugs.webkit.org/show_bug.cgi?id=35981 #}
    <h3 class="legend">
        Faculty
        <a class="btn-remove ic-deselect" href="javascript:void(0);"
            title="Remove the Administrator's affiliation with this Faculty.">Remove</a>
    </h3>
    
    {{ form.non_field_errors }}
    
    <div class="horizontal-field-group clear-self">
        <div class="field select {{ form.year.css_classes }}">
            {{ form.year.label_tag }}
            {{ form.year }}
            {{ form.year.errors }}
        </div>
        <div class="field select {{ form.organisation.css_classes }}">
            {{ form.organisation.label_tag }}
            {{ form.organisation }}
            {{ form.organisation.errors }}
        </div>
    </div>

    <div class="field radio-select horizontal {{ form.type_of_admin.css_classes }}">
    	<!--  Using the Django labels is not possible as it doesn't have enough control -->
         <label class="help-popup">Type of Admin<a class="popup-help-control ic-help" href="javascript:void(0)"></a>
                <span help-title="Type of Admin" style="display:none">
                <p>Key Faculty admins have full permissions and can publish timetables, Faculty admins can do whatever is specified in the set of permissions.</p>
                </span>
                </label>
        {{ form.type_of_admin }}
        {{ form.type_of_admin.errors }}
    </div>
</fieldset>

<fieldset>
    <h3 class="legend">Permissions</h3>
    <div class="field radio-select {{ form.permission.css_classes }}">
    	<!--  Using the Django labels is not possible as it doesn't have enough control -->
         <label class="help-popup">Timetables<a class="popup-help-control ic-help" href="javascript:void(0)"></a>
                <span help-title="Permissions on Timetables" style="display:none">
                <p>Select the level of permissions you want to give this administor on this faculty, only if the administrator is a normal faculty administrator.
                   If the administrator is a Key Faculty administrator these permissions have no effect</p>
                <dl>
                   <dt>Read Only</dt><dd>Read only access to the timetables for the faculty</dd>
                   <dt>Read / Write</dt><dd>Can create and update events.</dd>
                   <dt>Read / Write / Publish</dt><dd>Can also publish timetables to students.</dd>
                   <dt>Read / Write / Publish / Add New Classifications</dt><dd>can also create and edit classifications.</dd>
                </dl>
                </span>
                </label>
        {{ form.permission }}
        {{ form.permission.errors }}
    </div>
    
    <div class="field checkbox {{ form.can_add_admins.css_classes }}">
        <label for="{{ form.can_add_admins.id_for_label }}">
            Add Administrators
        </label>
        {{ form.can_add_admins }}
        {{ form.can_add_admins.label_tag }}
        {{ form.can_add_admins.errors }}
    </div>
</fieldset>

<fieldset>
    <h3 class="legend">Timetables</h3>

    {% if form.classifiers %}
    <div>
        <p>Can add events to...</p>
        <ul class="classifier-groups clear-self">
            {% for classifier in form.classifiers %}
            <li class="classifier-group">
                <div class="field checkbox-select-multiple {{ form.classifier.css_classes }}">
                    {{ classifier.label_tag }}
                    <div class="classifiers">
                        {{ classifier }}
                    </div>
                    {{ classifier.errors }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div id="select-level-classification-nothing-selected">
        <h3>Can add events to...</h3>
        <p>Select a faculty to see the timetables</p>
    </div>
    {% endif %}

</fieldset>
</div>