{% load url from future %}
{% load timetables_tags %}
<h3>Timetables status</h3>
<div id="tabs">
    <ul>
        <li><a href="#unpublished" >Unpublished</a></li>
        <li><a href="#published" >Published</a></li>
    </ul>
    <div class="active_panel" style="display: none;" >{% if select_tab == "published" %}1{% else %}0{% endif %}</div>
    <div id="unpublished">
        <table class="admin-table-light ">
            <tr>
                <th>Faculty Name</th>
                <th>Level</th>
            </tr>
            {% for key_org,org in organisations.items %}
                {% for level, subjects in org.unpublished.items  %}
                        <tbody class="faculty">
                            <tr class="faculty">
                                <td><a href="{% url "superadmin edit faculties" org.id %}">{{ org.name }}</a> ( {{ subjects|length }} of {{ org.level_counts|dict_key_value:level }} )</td>
                                <td>{{ level }} <span class="float-right"><a class="btn-view" href="javascript:void(0)">▶ View</a></span></td>
                            </tr>
                        </tbody>
                        <tbody class="course" style="display: none;">
                        {% for subject, s in subjects.items %}
                            <tr>
                                <td colspan="2">{{ subject }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                {% endfor %}
            {% endfor %}
        </table>
        <a href="{% url 'superadmin timetables' %}?tab=unpublished" class="view-all">View all unpublished timetables »</a>
    </div>
    <div id="published">
        <table class="admin-table-light ">
            <tr>
                <th>Faculty Name</th>
                <th>Level</th>
            </tr>
            {% for key_org,org in organisations.items %}
                {% for level, subjects in org.published.items  %}
                    <tbody class="faculty">
                        <tr class="faculty">
                            <td><a href="{% url "superadmin edit faculties" org.id %}">{{ org.name }}</a> ( {{ subjects|length }} of {{ org.level_counts|dict_key_value:level }} )</td>
                            <td>{{ level }} <span class="float-right"><a class="btn-view" href="javascript:void(0)">▶ View</a></span></td>
                        </tr>
                    </tbody>
                    <tbody class="course" style="display: none;">
                     {% for subject, s in subjects.items %}
                         <tr>
                             <td colspan="2"><a href="">{{ subject }}</a></td>
                         </tr>
                     {% endfor %}
                    </tbody>
                {% endfor %}
            {% endfor %}
        </table>
        <a href="{% url 'superadmin timetables' %}?tab=published" class="view-all">View all published timetables »</a>
    </div>
</div>
