<div id="borrow-dialog" title="" class="admin-dialog">
    <form>
        <fieldset>
            <h3>Borrow From Another Faculty</h3>
            <p>Select the faculty you would like to borrow from and enter the name of the event you would like to borrow.</p>
            
            <ul class="list-horizontal">
                <li>
                    <label>Faculty</label>
                    <select id="faculty-select">
                        {% for faculty in faculties %}
                            <option>{{ faculty }}</option>
                        {% endfor %}
                    </select>               
                </li>
                <li>
                    <label>Keywords</label>
                    <input id="faculty-input" type="text" name="" value="" />
                </li>
            </ul>
        </fieldset>
        
        <hr/>
        
        <fieldset id="borrow-search-results" style="display: none;">
            <h3>Search Results</h3>
            <p>Select the events you would like to borrow.</p>
            
            <table>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Lecturer</th>
                    <th>Location</th>
                    <th>Days &amp; Times</th>
                </tr>
                
                {% for serie in series %}
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>{{ serie.title }}</td>
                        <td>{{ serie.lecturer }}</td>
                        <td>{{ serie.location }}</td>
                        <td>{{ serie.time }}</td>
                    </tr>
                {% endfor %}
                
                
             </table>
        </fieldset>
    
        <ul class="nav-horizontal nav-right">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><a href="javascript:void(0)" class="btn-medium btn-type1" id="borrow-find-button">Find events</a></li>
        </ul>
    </form>
</div>
