{% load timetables_tags %}


<div class="{{classification_form_classes}}">
    <div class="section-admin-add-group classification-control-container">
        <ul> 
            <li>
                <label>Select level</label>
                <select name="org_level" class="classification-selector">
                    {% for level in organisation.classifications.levels %}
                    <option id="classification-level-{{ level.id }}" 
                    value="{{ level.id }}" 
                    {% if level.parent %}
                       parent="{{ level.parent.id }}"
                       disabled="disabled"
                    {% endif %}
                    {% if level in levels_selected %}selected="selected"{% endif %} >
                    {{ level.value }}</option>
                    {% endfor %}
                </select>
                <div class="validation_not_empty errormessage" >Please select a level</div>
            </li>
        </ul>
    </div>
</div>

