{% load timetables_tags %}

<nav class="nav-horizontal nav-pagination">
    <ul>
    {% if page.has_previous %}
        <li class="relative"><a href="{% url_dynamic url_params %}?page={{ page.previous_page_number|urlencode }}&{% save_page_state "GET" %}">Previous</a></li>
    {% endif %}
    
    {% for number in page.nearby_pages %}
        <li class="absolute{% if page.number == number %} current{% endif %}">
            <a href="{% url_dynamic url_params %}?page={{ number|urlencode }}&{% save_page_state "GET" %}">{{ number }}</a>
        </li>
    {% endfor %}
    
    {% if page.has_next %}
        <li class="relative"><a href="{% url_dynamic url_params %}?page={{ page.next_page_number|urlencode }}&{% save_page_state "GET" %}">Next</a></li>
    {% endif %}
    </ul>
</nav>