<div class="add-events-form section-admin-content-group group_container_marker" >
    <ul>
        <li>
            <label>Group Title</label>
            <a href="javascript:void(0)" class="btn-delete ic-delete" >Delete</a>
            <!--  ID of this group -->
        	<input class="group-id-marker" type="hidden" name="group" value="{{ group_id }}" />
            <!--  when the group is deleted, this gets set to 1 and the surrounding div gets hidden -->
        	<input class="deleted-group-marker" type="hidden" name="deleted_{{ group_id }}" value="0" />
        	<input type="hidden" name="new_{{group_id}}" value="{% if new_group %}1{% else %}0{% endif %}" />
        </li>
        <li>
        	<div>
	            <input class="col2" name="title_{{ group_id }}" value="{{ group.name|default:default_group_title }}" maxlength="512" />
	            <a href="javascript:void(0)" class="show-group-description ic-add">Description</a>
        	</div>
        	<div class="validation_not_empty errormessage">Group title may not be empty</div>
        </li>
    </ul>
    
    <hr/>
    
    <textarea class="group-description" name="desc_{{ group_id }}" style="display: none;">{{ group.description|default:default_group_desc }}</textarea>
    
    
    <ul class="list-horizontal block-label">
        <li>
            <label>Type</label>
            <select name="type_{{ group_id }}" class="col1">
                {% for type in organisation.types %}
                    {% if type.name != "--external--" %}
                    <option value="{{ type.id }}" {% if type == group.event_type %}selected="selected"{% endif %}>
                        {{ type.name }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
        </li>
        <li><label>Term</label>
            <select name="term_{{ group_id }}" class="col1">
                {% for term in organisation.terms %}
                    <option value="{{ term.id }}" {% if term == group.term %}selected{% endif %}>
                        {{ term.term_info.name }}
                    </option>
                {% endfor %}
            </select>
        </li>
        <li><label>Default Location</label><input name="default-location_{{ group_id }}" class="col1" value="{{ group.default_location|default:default_group_default_location }}" maxlength="512" /></li>
        <li class="date-picker-container">
        	<span class="">
        	<label>Default Days &amp; Times</label>
        	<input name="default-date-time-pattern_{{ group_id }}" class="col1  group_pattern_marker" value="{{ group.default_pattern|default:default_group_default_date_time_pattern }}" maxlength="256" class="group_pattern_marker" />
        	<a href="javascript:void(0)" class="ic-import-date"></a>
        	</span>
        	<div class="validation_date_pattern_message_empty_ok errormessage">Invalid Date Pattern</div>
        </li>
    </ul>

    <hr/>
    
    <table class="sortable  editor-group">
        <tr class="title">
            <th>Title <span class="optional">(Optional)</span></th>
            <th>Lecturer</th>
            <th>Location</th>
            <th>Days &amp; Times</th>
            <th class="action-cel"></th>
        </tr>
        <tbody class="event">
        {% if group.owned_series.all %}
            {% for series in group.owned_series.all %}
                {% include "administrator/fragments/editor-series.html" with series_id=series.id %}        
            {% endfor %}
        {% elif group.versioned_owned_series.all %}
            {% for series in group.versioned_owned_series.all %}
                {% include "administrator/fragments/editor-series.html" with series_id=series.id %}        
            {% endfor %}
        {% endif %}
      	{% if not group %}
            {% include "administrator/fragments/editor-add-series.html" %}        
        {% endif %}
        <tr class="end-of-series-editors" ></tr>
        </tbody>
    </table>
        
    <ul>
        <li><div id="totalevents"></div></li>
        <li><a href="javascript:void(0)" class="btn-right open-borrow-dialog ic-add">Borrow event series</a></li>
    </ul>
        
        {% if group.borrowed_series %}
            <h3>Borrowed Events</h3>
            <table>
                {% for series in group.borrowed_series %}
                    <tr>
                        <td>{{ series.title|default:"" }}</td>
                        <td>{{ series.lecturer|default:"" }}</td>
                        <td>{{ series.location|default:"" }}</td>
                        <td>{{ series.date|default:"" }}</td>
                        <td><a href="javascript:void(0)" class="btn-delete ic-delete" >Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
</div>
