{% load url from future %}




<form id="add-administrators" action="{% url "admin save administrator" page_year.url_id page_organisation.url_id %}" method="post" class="section-admin-content-group">
<!--  this form should wrap all the components except dialog boxes,
      when it is submitted it will contain all the state of the
      group and all events as the user wants them to appear -->
     {% csrf_token %}
    {% include "administrator/fragments/error-notification.html" %}
    <div class="admin-tab-group">
        {% if administrator %}
		   <a href="javascript:void(0)" id="disable-admin" class="btn-delete ic-delete">Disable Admin</a>
		   <a href="javascript:void(0)" id="enable-admin" class="btn-delete ic-undelete" style="display: none" >Re-enable Admin</a>
		   <input type="hidden" name="disable" id="disable-admin-value"  value="0" />
		{% endif %}
        <ul class="block-label list-horizontal additional-width">
            <li>
                <label class="bold-label">CRSid</label>
                <input type="text" name="crsid" value="{{ administrator.username }}" readonly="readonly" />
                {% if administrator %}
                	<span id="disable-admin-message" style="display: none;">Will be disabled if you save</span>
                {% else %}
                	<div class="validate_crsid errormessage" >CRSid must be supplied and must exist</div>
                {% endif %}
            </li>
        </ul>
    </div>

        <div class="faculty-settings">
            <div class="box">
            
            <h2>Type of admin<a class="popup-help-control ic-help" href="javascript:void(0)"></a>
            <span help-title="Type of admin" style="display:none" >
            <p>Selecting Key Faculty admin gives the user full administrative rights over the whole faculty.</p>
            </span>
            </h2>
                <ul class="list-horizontal">
                    <li>
                        <label><input type="radio" name="admin_type" {% if admininfo.type == "faculty" %} checked="checked" {% endif %} value="faculty" /> Faculty Admin</label>
                    </li>
                    <li>
                        <label><input type="radio" name="admin_type" {% if admininfo.type == "key" %} checked="checked" {% endif %} value="key" /> Key Faculty Admin</label>
                    </li>
                </ul>
                <div class="validation_select_one_fieldset errormessage" >Please select an admin type</div>
            </div>
            <h1>Permissions</h1>
         
            <div class="box">
                <h2>Timetables<a class="popup-help-control ic-help"  href="javascript:void(0)"></a>
                <span help-title="Timetable Permissions" style="display:none">
                   <ul>
                      <li>Read Only will give the administrator permission to view unpublished timetables in this faculty</li>
                      <li>Write will give the administrator permission to update events for this faculty</li>
                      <li>Publish will give the administrator permission to publish timetables for this faculty</li>
                      <li>Add New Classifications will give the administrator permission to manage classifications for this faculty</li>
                   </ul>
                </span>
                </h2>
                <ul class="list-vertical">
                    <li>
                        <label><input type="radio" name="permissions" value="r" {% if admininfo.perms == "r" %}checked="checked"{% endif %}/> Read Only</label>
                    </li>
                    <li>
                        <label><input type="radio" name="permissions" value="rw" {% if admininfo.perms == "rw" %}checked="checked"{% endif %} /> Read / Write</label>
                    </li>
                    <li>
                        <label><input type="radio" name="permissions" value="rwp" {% if admininfo.perms == "rwp" %}checked="checked"{% endif %}/> Read / Write / Publish</label>
                    </li>
                    <li>
                        <label><input type="radio" name="permissions" value="rwpc" {% if admininfo.perms == "rwpc" %}checked="checked"{% endif %}/> Read / Write / Publish / Add New Classifications</label>
                    </li>
                </ul>
                <div class="validation_select_one_fieldset errormessage" >Please select one permission type</div>
                
                <h2>Add Administrators<a class="popup-help-control ic-help" href="javascript:void(0)"></a>
                <span help-title="Add Administrators" style="display:none">
                <p>Checking this checkbox will give the administrator the ability to add, manage and remove administrators in this faculty</p>
                </span>
                </h2>
                <ul class="list-horizontal additional-width">
                    <li>
                        <label><input type="checkbox" name="add_admin_admins" {% if admininfo.admins == "admins" %}checked="checked"{% endif %} value="1"/> Can add &amp; edit administrators</label>
                    </li>
                </ul>
            </div>
            {% comment %}
            This has been deprecated for this version.
            <div id="select-level-classification">
            <h1>Timetables</h1>
                    {% include "administrator/fragments/classification-selection.html" %}
            </div>
            {% endcomment %}
        </div>
        <ul class="nav-horizontal nav-right" id="add-administration-menu">
            <li>
                <a class="btn-type2 btn-medium" href="javascript:void(0)">Cancel</a>                
            </li>
            <li>
	            <input type="submit" value="Save" class="btn-small btn-type3"  />
            </li>
        </ul>
</section>