{# ============================================================================================= #}
{# Error List: No post #}
{# ============================================================================================= #}

{% if imported_series %}
<div title="" class="after_post_notification admin-dialog" style="display:none" >
      <h3>Events Imported</h3>
	  <p>{{ imported_series }} Event Series were imported creating {{ imported_events }} events.</p>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Close</a></li>
        </ul>
    </form>
</div>
{% endif %}
