{# ============================================================================================= #}
{#Long Post Dialog: No post #}
{# ============================================================================================= #}

<div id="long-post-dialog" title="" class="admin-dialog">
        <h3>Update being Processed</h3>
		<img class="loading-indicator" src="/static/img/spinner.gif">
        <p id="posting-dialog-message">Update is being checked and processed, by server which appears to be taking some time, please wait</p>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
        </ul>
    </form>
</div>