{% load url from future %}
<table class="admin-table-light">
        <tr>
            <th>Revision</th>
            <th>Date Updated</th>
            <th>Administrator</th>
            <th>Comment</th>
        </tr>
    {% for change in recent_changes %}
    <tr>
        <td><a href="{% url "admin change history revision" page_year.url_id page_organisation.url_id change.id %}">{{ change.id }}</a></td>
        <td>{{ change.created }}</td>
        <td>{{ change.user }}</td>
        <td>{{ change.comment }}</td>
    </tr>
    {% endfor %}
</table>