<ul class="popup-problems-list">
{% for id_series, s in series.items %}
	<li>
		<h3>{{ s.title }}</h3>
		<ul>
		{% for d in s.dates %}
			<li>{{ d }}</li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>