<div id="courses">
    <div id="algebra" class="course">
        <h4>Algebra<a href="" class="ic-remove float-right"></a></h4>
        <p>Day/Time: <b>Mon Wed Fri 09:00</b></p>
    </div>
    <div id="dancing" class="course">
        <h4>Dancing<a href="" class="ic-remove float-right"></a></h4>
        <p>Day/Time: <b>Tue Thu 08:00</b></p>
    </div>
    <div id="curling" class="course">
        <h4>Curling<a href="" class="ic-remove float-right"></a></h4>
        <p>Day/Time: <b>Mon Wed Fri 21:00</b></p>
    </div>
    
</div>


