<table id="big-month-view">
    <tr>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>    
    </tr>
    <tr>
        {% for day in events %}
            {% if day.events %}     
                <td class="occupied">
                    {{ day.date }}
                    <ul>
                        {% for event in day.events %}
                        <li class="{{ event.type }}">
                             {{ event.name }}
                        </li>
                        {% endfor %}
                        
                        {% if day.events|length  > 3 %}
                            <li class="load_more"><a href="javascript:;">+ {{ day.events|length|add:"-3" }} more</a></li>
                        {% endif %}          
                    </ul>

                </td>        
            {% else %} 
                <td class="available">{{ day.date }}</td>        
            {% endif %}
        </td>    
    {% if day.date == 7 or day.date == 14 or day.date == 21 or day.date == 28 %}
    </tr><tr>
    {% endif %}
        {% endfor %}
    </tr>
</table>