<div class="popup-content-head">
{% if classification == None %}
	<p>No information available</p>
{% else %}
	<p>{{ classification.name }}</p>
{% endif %}
</div>
{% if classification != None %}
<div class="details">
	<div class="description">{{ classification.description }}</div>
	<p class="contact">Contact: {{ classification.contact_person }}</p>
	<p class="website">Website: {{ classification.website }}</p>
</div>
{% endif %}