<div class="student-dialog-error">
    <div class="student-dialog-heading">
        <h3>Timetable changes</h3>
        <span class="ic-close"></span>
    </div>
    <div class="student-dialog-content">
        There have been some changes to your timetable
        <ul id="changes-listing">
            <li><a href="#">Animal O2 Acquisition and Respiration</a>: Lecture name (2 of 4) location has changed to Babbage Lecture Theatre</li>
            <li><a href="#">Algebra Units and Graphs</a> lecturer has changed to Dr. A. Webb</li>
        </ul>
    </div>
</div>