<table id="day-events-table">
    <tr>
        <th></th>        
        {% for day in events|slice:":7" %}
            <th>{{ day.day }} {{ day.date }}</th>
        {% endfor %}
    </tr>
        
    <tr class="day-events">
        <th>GMT+00</th>
        {# Display all-day events in this table row #}
        {% for day in events|slice:":7" %}
            <td>
                {% for event in day.events %}
                    {% ifequal event.time "all-day" %}
                        <div class="day-event">
                            {{ event.name }}
                        </div>
                    {% endifequal %}
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
</table>

<div id="hour-table-scroll-container">
    <table id="hour-events-table">
        <tr class="hour-events">
            <th>00:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="hour-event-container" id="eventC2" style="top: 100px; left: 421px;">
                    <span class="hour-event"><h4 class="laboratory">Animal O2 Acquisition and Respiration: Lecture name (2 of 4)</h4></span>
                </div>
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>01:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>02:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>    
        <tr class="hour-events">
            <th>03:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>04:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>05:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>06:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>07:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>08:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>09:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>11:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>12:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr class="hour-events">
            <th>13:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>14:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>15:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>16:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr class="hour-events">
            <th>17:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>18:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>19:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>20:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>21:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr class="hour-events">
            <th>22:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="hour-events">
            <th>23:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>