Alias /timetables __SOURCE__/web
<directory __SOURCE__/web>
    allow from all
</directory>

# Configuration for basic auth
# create a password file and add user 'ieb'
#  htpasswd -c __SOURCE__/config/passwords ieb
# To add more users
#  htpasswd __SOURCE__/config/passwords ieb
# 
<Location /timetables/php/login.php>
  AuthType Basic
  AuthName "Login to Timetables"
  AuthUserFile __SOURCE__/config/passwords
  Require valid-user
</Location>


## Configruation for Shiboleth
#
#LoadModule mod_shib libexec/mod_shib_22.so
#<Location /timetables/php/login.php>
#   AuthType shibboleth
#   ShibRequireSession On
#   require valid-user
#</Location>
#
#
