# This file exists to ensure the secret/ directory exists, and also to ignore 
# anything in this directory to ensure secrets are not committed. 
# Ignore everything in this dir:
*
# Except this file
!.gitignore