<h3>{% if(isCreating) { %}Add new classification group{% } else { %}Edit classification group{% } %}</h3>
<ul class="list-horizontal block-label">
    <li>
        <label>Group name</label>
        <input type="text" name="" value="{{ model.name }}" />
    </li>
</ul>
<ul class="nav-horizontal nav-right dialog-menu">
    <li><button class="cancel btn-medium btn-type2">Cancel</button></li>
    <li><button class="save btn-medium btn-type1">Save</button></li>
</ul>
