<li>
    <a class="cancel" href="javascript:void(0)">Cancel</a>
</li>
<li>
    {% if(is_submitting) { %}
    <button class="save btn-type1 btn-medium btn-inactive">
        <span class="state-loading">
            Creating Faculty
            <img style="margin-left: 6px" src="/static/img/spinner-teal.gif">
        </span>
    </button>
    {% } else if(synched) { %}
    <button class="save btn-type1 btn-medium">
        <span class="state-idle">Create Faculty</span>
    </button>
    {% } else { %}
    <button class="save btn-type1 btn-medium btn-inactive">
        <span class="state-idle">Create Faculty</span>
    </button>
    {% } %}
</li>