<label>{{ name }}</label>
{% if(description) { %}
<p class="hint">{{ description }}</p>
{% } %}
<span class="input-wrapper"></span>
<span class="loading-indicator-wrapper"></span>
<ul class="invalidity-reasons"></ul>