{% if(is_visible) { %}
    {% if(is_calculating ) { %}
        <img src="/static/img/spinner.gif"></img> Checking…
    {% } else { %}
        {% if(is_valid) { %}
        <img src="/static/images/tick.png"></img> Not used
        {% } else { %}
        <img src="/static/images/cross.png"></img>Already used
        {% } %}
    {% } %}
{% } %}