#errorWrapper {
	width: 727px;
	margin: 0 auto;
	padding-top: 85px;
	padding-bottom: 80px;
}

#errorWrapper h2 {
	text-align: center;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #aeaeae;
	
	font-family: Georgia;
	font-weight: normal;
	
	padding-bottom: 15px;
	margin-top: 0;
	margin-bottom: 25px;
}

#errorWrapper #error-content h3 {
	font-size: 13px;
	padding-bottom: 5px;
}

#errorWrapper #error-content {
	width: 620px;
	margin: 0 auto;
	font-size: 12px;
}

#errorWrapper #error-content ul li {
	background-image: url(../images/list-item-dash.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
}
