{% extends "error/error-base.html" %}
{% load url from future %}

{% block title-area %}
	<div id="title" class="content-container">Access denied (403)</div>
{% endblock %}

{% block error-explanation %}
<h2>It seems like you don't have access to this page.</h2>
{% endblock error-explanation %}

{% block error-content %}
<h3>You have to be logged in as an administrator to access this page</h3>
<ul>
	<li><a href="{% url "TODO" %}">Log in</a> as an administrator</li>
	<li>Click the <a href="javascript:history.back()">back</a> button to go back to the previous page</li>
	<li>Go back to the <a href="{% url "student home loggedin" %}">homepage</a></li>
</ul>
{% endblock error-content %}