{% extends "error/error-base.html" %}
{% load url from future %}

{% block title-area %}
	<div id="title" class="content-container">Server Error (500)</div>
{% endblock %}

{% block error-explanation %}
<h2>The website has encountered a problem preventing this page from working.</h2>
{% endblock error-explanation %}

{% block error-content %}
<h3>Not all hope is lost though, here is what you can do:</h3>
<ul>
	<li><a href="javascript:window.location.reload()">Refresh now</a> or wait for the server to recover and access this particular page at a later time</li>
	<li>You can go back to the <a href="{% url "student home loggedin" %}">homepage</a> or try out a different page, it's possible some pages are still working</li>
</ul>
{% endblock error-content %}