{% load url from future %}
<html>
    <head>
        <title>Admin Form Test</title>
    </head>
    <body>
        <h1>Admin Form Test</h1>
        <p>This is an admin test form.</p>
        <form action="{% url "admin_form_test"%}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="formset affiliations">
                <div class="form template" style="display:none;">
                    {{ form.affiliations.empty_form }}
                </div>
                {{ form.affiliations.management_form }}
                <div class="form affiliation" style="margin: 1em; padding: 1em; border: 1px black solid">
	            {% for affiliation_form in form.affiliations %}
	                {{ affiliation_form.as_p }}
	            {% endfor %}
                </div>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>