{% extends "error/error-base.html" %}
{% load url from future %}

{% block title-area %}
	<div id="title" class="content-container">Login</div>
{% endblock %}

{% block error-explanation %}
<h2>It seems like you don't have access to this page.</h2>
{% endblock error-explanation %}

{% block error-content %}
<h3>Please Login (temporary page to allow testing)</h3>
<form action="{% url "login url" %}" method="POST" >
  Username: <input type="text" name="username" id="username" /><br />
  Password: <input type="password" name="password" id="password" /> <br />
  <input type="submit" name="login" value="Login" />
  {% if error == "invalid_login" %}
    Incorrect username or password, access denied <br />
  {% elif error = "account_disabled" %}
    Account has been disabled, please contact an administrator
  {% endif %}
  
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
   {% csrf_token %}
</form>
{% endblock error-content %}