{% extends "administrator/administrator-base.html" %}
{% load url from future %}
{% load timetables_tags %}

{% comment %}
This page is the "Event Timetables" page from the admin blueprint. It shows a filterable
list of all available timetables in the current faculty.

The page contains a number of Dialogs that are controlled by jQuery on event.
At the moment all forms are posted bu standard browser HTTP request, and the end point responds
with a redirect back to the current state of the page or an error code.

If any forms need to to have more feedback the Browser Post should be converted into an Ajax post.
If any of the values in the form need validation, that should be done on change by Ajax get or post operations
to prevent the user posting the form.

Django Forms have not been user as they are too ridgid to support the interaction required.
All End points that this template talks to are DJango Views.

{% endcomment %}

{% block pagehelp %}
	<span help-title="Administration All Events" style="display:none">
        <p>
           This page shows you a list of all events in the faculty. You can
           filter this list using the controls or search for items within the
           list using the search box.
        </p>
        {% if can_publish %}
        <p>
           Since you have publish permissions on this timetable you can publish all or a selection
           of the events in the time table using the publish button.
        </p>
        {% endif %}
    </span>
{% endblock %}


{% block admin-nav-breadcrumb-additional-content %}
{% if can_publish %}
<a class="btn-type1 btn-medium" id="publish-timetables-button" href="javascript:void(0)">Publish Timetable</a>
{% endif %}
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-dialog %}
    {% include "administrator/fragments/status-messages.html" %}
	{% include "administrator/fragments/published-timetables-notification.html" %}
	{% include "administrator/fragments/updated-events-notification.html" %}
{% endblock admin-page-dialog %}

{% block admin-page-content-header-additional-content %}
<form>
    <input type="text" name="q" value="{{ search_term }}" id="event-search-term" placeholder="Search events" />
    <input type="submit" name="" value=">" class="btn-type1" />
</form>
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content %}
<div class="admin-tab-group-events">
    <ul class="nav-tabs">
        <li class="radio-btn-tab {% if internal_events %}selected{% endif %}">
            <a href="{% if internal_events %}javascript:void(0){% else %}?q={{ search_term }}{% endif %}" id="open-events-tab">Events</a>
        </li>
        <li class="radio-btn-tab {% if not internal_events %}selected{% endif %}">
            <a href="{% if not internal_events %}javascript:void(0){% else %}?q={{ search_term }}&v=e{% endif %}" id="open-external-link-tab">External Timetable Links</a>
        </li>
    </ul>
</div>


<form>
{% save_context "POST" "q" search_term  %}
<ul id="filterOptions">
    <li>
        <ul>
            <li>Filter by</li>
            <li>
                <select name="lecturer">
                    <option value="0">All lecturers</option>
                {% for lecturer in filter_settings_lecturers %}
                    <option{% if filter_settings_lecturer_selected == lecturer %} selected="selected" {% endif %}>{{ lecturer }}</option>
                {% endfor %}
                </select>
            </li>
            <li>
                <select name="term">
                    <option value="0">All terms</option>
                    {% for term in filter_settings_terms %}
                        <option{% if filter_settings_term_selected == term %} selected="selected" {% endif %}>{{ term }}</option>
                    {% endfor %}
                </select>
            </li>
            
	
            <li>
                <input class="edit-classification" type="text" name="" value="{{ timetable }}" placeholder="Timetable" />
                
                <a href="javascript:void(0)" class="edit-button" id="open-classification-dialog">Edit</a>
            </li>
            <li class="nav-right">
            	{% if filter_settings_term_selected or filter_settings_lecturer_selected or timetable or filter_settings_location_selected or filter_settings_type_selected %}
                	<a href="?{% sort_and_page_href %}"  id="clear-all-filters">Clear All Filters</a>
                {% endif %}
            </li>

        </ul>
    </li>
    
    <li>
        <ul>
            <li>
                <!-- TODO: add data for status: -->
                <select style="display: none;">
                    <option>Status</option>
                </select>
            </li>
            
            <li>
                <select name="location">
                    <option value="0">All Locations</option>
                {% for location in filter_settings_locations %}
                    <option{% if filter_settings_location_selected == location %} selected="selected" {% endif %}>{{ location }}</option>
                {% endfor %} 
                </select>
            </li>
            
           
                       
            <li>
                <select name="type">
                    <option value="0">All Types</option>
                {% for type in filter_settings_types %}
                    <option{% if filter_settings_type_selected == type %} selected="selected" {% endif %}>{{ type }}</option>
                {% endfor %}
                </select>
            </li>
            <li class="nav-right">
                <input type="submit" name="filter" value="Filter" class="btn-type1 btn-small btn-right" />
            </li>
        </ul>
    </li>
</ul>
</form>
{% endblock admin-header-additional-content %}

{% block admin-page-content %}
{# ============================================================================================= #}
{# Quick Edit Event Dialog: Standard Browser Http POST followed by refresh #}
{# ============================================================================================= #}
<div id="quick-edit-panel" class="admin-panel">
    <form id="quick-edit-panel-form" action="{% url "admin quick edit event" page_year.url_id page_organisation.url_id %}" method="post">
		{% csrf_token %}
		{% save_paging_state "POST" %}
	    <input id="quick-edit-panel-form-event-id" type="hidden" name="event-id" value="" />

	    <h3>Quick Edit</h3>
	    <ul class="block-label">
	        <li>
	            <label>Event title</label>
	            <input type="text" name="title" id="quick-edit-panel-form-title" value="" />
	        </li>
	        <li>
	            <label>Lecturer</label>
	            <input type="text" name="lecturers" id="quick-edit-panel-form-lecturers" value="" />
				<span class="caption">A list of comma separated CRSID's</span>
	        </li>
	        <li>
	            <label>Location</label>
	            <input type="text" name="location" id="quick-edit-panel-form-location" value="" />
	        </li>
	    </ul>

	    <ul class="nav-horizontal nav-right dialog-menu">
	        <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" /></li>
	    </ul>

	    <span class="panel_arrow"></span>
    </form>
</div>


{# ============================================================================================= #}
{# Classification Filter Dialog: Not used at present #}
{# ============================================================================================= #}
<div id="classification-dialog" title="" class="admin-dialog">
    <form id="classification-dialog-form" >
		{% save_paging_state  "POST" "level" "subject" %}

        <h3>Timetable Filter Settings</h3>
        <a href="javascript:void(0)" class="btn-small btn-right clear">Clear</a>
        
        <fieldset id="classification-dialog-level">
            <ul>
                <li class="classification-dialog-heading">1. Select Level</li>
                {% for level in filter_settings_classifications.levels %}
                    <li><label><input type="checkbox" name="level" value="{{ level.id }}" {% if level.id in filter_settings_level_selected %}checked="checked"{% endif %} />{{ level.value }} </label></li>
                {% endfor %}          
            </ul>      
        </fieldset>
        
        <fieldset id="classification-dialog-subject-paper">
            <ul>
                <li class="classification-dialog-heading">2. Select Subject/Paper</li>
                <li>
                    <ul id="classification-dialog-level-paper-list">
                        {% for subject in filter_settings_classifications.subjects %}
                            <li><label><input type="checkbox" name="subject" value="{{ subject.id }}" {% if subject.id in filter_settings_subject_selected %}checked="checked"{% endif %} />{{ subject.value }} </label></li>
                        {% endfor %}     
                    </ul>
                </li>        
            </ul>      
        </fieldset>
        
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Filter" /></li>
        </ul>
    </form>
</div>


{# ============================================================================================= #}
{# Classification Edit Dialog: Not used at present #}
{# ============================================================================================= #}
<div id="edit-classification-dialog" title="" class="admin-dialog">
    <form id="edit-classification-dialog-form" action="{% url "admin bulk edit classification" page_year.url_id page_organisation.url_id %}" method="post">
		{% csrf_token %}
		{% save_paging_state "POST" %}
		<input type="hidden" value="" name="selected-events" id="edit-classification-dialog-selected"  />
		<input type="hidden" value="" name="all-events" id="edit-classification-dialog-selected-all" />

        <h3>Edit Classifications</h3>
        <a href="javascript:void(0)" class="btn-small btn-right clear">Clear</a>

        <fieldset id="edit-classification-dialog-level">
            <ul>
                <li class="classification-dialog-heading">1. Select Level</li>
                {% for level in filter_settings_classifications.levels %}
                    <li><label><input type="checkbox" name="level" value="{{ level.id }}" />{{ level.value }} </label></li>
                {% endfor %}
            </ul>
        </fieldset>

        <fieldset id="edit-classification-dialog-subject-paper">
            <ul>
                <li class="classification-dialog-heading">2. Select Subject/Paper</li>
                <li>
                    <ul id="edit-classification-dialog-level-paper-list">
                        {% for subject in filter_settings_classifications.subjects %}
                            <li><label><input type="checkbox" name="subject" value="{{ subject.id }}" />{{ subject.value }} </label></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </fieldset>

        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Submit" /></li>
        </ul>
    </form>
</div>

{# ============================================================================================= #}
{# Publish Timetable Dialog: Standard Browser Http POST followed by refresh #}
{# ============================================================================================= #}
{% if can_publish %}
<div id="publish-timetables-dialog" title="" class="admin-dialog">
    <form id="publish-timetables-dialog-form" action="{% url "admin publish timetables" page_year.url_id page_organisation.url_id %}" method="post">
		{% csrf_token %}
		{% save_paging_state "POST" %}


        <h3>Select which timetables to publish</h3>
        <a href="javascript:void(0)" id="publish-timetables-dialog-clear" class="btn-small btn-right clear">Clear</a>
        <fieldset id="publish-timetables-dialog-level">
            <ul>
                <li class="classification-dialog-heading">1. Select Level</li>
                {% for level in filter_settings_classifications.levels %}
                    <li><label><input type="checkbox" name="level" value="{{ level.id }}" />{{ level.value }} </label></li>
                {% endfor %}
            </ul>
        </fieldset>
        <fieldset id="publish-timetables-dialog-subject-paper">
            <ul>
                <li class="classification-dialog-heading">2. Select Subject/Paper</li>
                <li>
                    <ul id="publish-timetables-dialog-level-paper-list">
                        {% for subject in filter_settings_classifications.subjects %}
                            <li><label><input type="checkbox" name="subject" value="{{ subject.id }}" />{{ subject.value }} </label></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </fieldset>
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Publish" /></li>
        </ul>
    </form>
</div>
{% endif %}

{# ============================================================================================= #}
{# Export Event Dialog: Confirmation followed by Standard Browser Http POST followed by download, no refresh #}
{# ============================================================================================= #}

<div id="export-events-dialog" title="" class="admin-dialog">
    <form id="export-events-dialog-form" action="{% url "admin export events" page_year.url_id page_organisation.url_id %}" >
		{% csrf_token %}
		{% save_paging_state "POST" %}
		<input type="hidden" value="" name="selected-events" id="export-events-dialog-selected"  />
		<input type="hidden" value="" name="all-events" id="export-events-dialog-selected-all" />
		<input type="hidden" value="" name="fmt" id="export-events-dialog-fmt"  />
        <h3>Export Events</h3>

        <p>About to export <span id="export-events-dialog-selected-count">20</span> events, as a <span id="export-events-dialog-fmt-txt">PDF</span> export</p>

        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Confirm" /></li>
        </ul>
    </form>
</div>

{% include "administrator/fragments/error-dialog.html" %}


{# ============================================================================================= #}
{# Edit Lectures Dialog: Standard HTTP POST followed by refresh #}
{# ============================================================================================= #}
<div id="edit-lecturers-dialog" title="" class="admin-dialog">
    <form id="edit-lecturers-dialog-form" action="{% url "admin bulk edit lectures" page_year.url_id page_organisation.url_id %}" method="post">
		{% csrf_token %}
		{% save_paging_state "POST" %}
		<input type="hidden" value="" name="selected-events" id="edit-lecturers-dialog-selected"  />
		<input type="hidden" value="" name="all-events" id="edit-lecturers-dialog-selected-all" />

        <h3>Edit Lecturer</h3>
        <ul class="list-horizontal">
            <li>
                <label>Current Lecturer(s)</label>
                <span id="current-lecturers"></span>
            </li>
            <li>
            	{# if you change this, change the javascript that binds to it #}
                <label>New Lecturer(s)</label>
                <input type="text" name="lecturers" value="" />
                <span class="caption">A list of comma separated CRSID's</span>
            </li>
        </ul>
        
        <hr/>
        
        <p>This change will affect <span id="edit-lecturers-dialog-selected-count">20</span> events, please ensure details are correct</p>
        
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Submit" /></li>
        </ul>
    </form>
</div>

{# ============================================================================================= #}
{# Edit Location Dialog: Standard HTTP POST followed by refresh #}
{# ============================================================================================= #}
<div id="edit-location-dialog" title="" class="admin-dialog">
    <form id="edit-location-dialog-form" action="{% url "admin bulk edit location" page_year.url_id page_organisation.url_id %}" method="post">
		{% csrf_token %}
		{% save_paging_state "POST" %}
		<input type="hidden" value="" name="selected-events" id="edit-location-dialog-selected"  />
		<input type="hidden" value="" name="all-events" id="edit-location-dialog-selected-all" />
        <h3>Edit Location</h3>
        <ul class="list-horizontal">
            <li>
                <label>Current Location(s)</label>
                <span id="current-location"></span>
            </li>
            <li>
                <label>New Location(s)</label>
                <input type="text" name="location" value="" />
                <span class="caption">Enter a single location for the event(s).</span>
            </li>
        </ul>
        
        <hr/>
        
        <p>This change will affect <span id="edit-location-dialog-selected-count">20</span> events, please ensure details are correct</p>
        
        <ul class="nav-horizontal nav-right dialog-menu">
            <li><a href="javascript:void(0)" class="btn-medium btn-type2 close-dialog">Cancel</a></li>
            <li><input type="submit" class="btn-medium btn-type1" value="Submit" /></li>
        </ul>
    </form>
</div>


{% if internal_events %}
<section id="events" class="section-event-listing">
    <div class="event-table-header">
        <ul>
            <li><input id="select_all_events" type="checkbox" name="" value="all_events" /></li>
            <li>
	                <select name="fmt" id="export-options">
	                    <option>Export as...</option>
	                    <option value="csv">CSV</option>
	                  <!-- <option value="pdf">PDF</option> Disable PDF export until we get time -->
	                    <option value="ical">iCal</option>
	                </select>
            </li>

            <li>
                <select name="edit" id="edit-options">
                    <option>Edit ...</option>
                    <!-- <option value="classification">Classification</option> Disabled pending model/design issue resoluition see bulkeditclassification.py for details -->
                    <option value="lecture">Lecture</option>
                    <option value="location">Location</option>
                </select>
            </li>

            <li>
                <h4>Showing {{ event_matches_start }} to {{ event_matches_end }} of {{ event_matches_count }} events</h4>
            </li>

            <li>
                <a href="{% url "student timetable admin preview" page_year.url_id page_organisation.code  %}" class="btn-small btn-type3 ic-calendar"><span>View on Calendar</span></a>  
            </li>
        </ul>
    </div>

    <table class="admin-table">
        <tr>

            <th></th>
            <th><a href="?{% sort_column_href "stitle" %}" class="{% sort_column_class "stitle" %}" >Series Title</a></th>
	        <th><a href="?{% sort_column_href "gtitle" %}" class="{% sort_column_class "gtitle" %}" >Group Title</a></th>
	        <th>Lecturer(s)</th>
	        <th>Location</th>
	        <th>Timetable</th>
	        <th><a href="?{% sort_column_href "date" %}" class="{% sort_column_class "date" %}" >Date</a></th>
	        <th><a href="?{% sort_column_href "lastupdate" %}" class="{% sort_column_class "lastupdate" %}" >Last Updated</a></th>
        </tr>
    {% for event in event_matches %}
        <tr>
            <td class="{% if forloop.counter|divisibleby:2 %}admin-table-dark{% endif %}"><input type="checkbox" class="events_selection" value="{{ event.id }}" /></td>
            <td>
            	{# class here is used for quick edit form population #}
                <span class="events-list-title" >{{ event.title }}</span>
                <ul class="nav-quickedit">
                    <li><a href="{% url "admin edit event" page_year.url_id page_organisation.url_id event.owning_group.id  %}" class="edit-data">Edit</a></li>
                    <li>&#124;</li>
                    <li><a href="javascript:void(0)" class="quick-edit-data">Quick Edit</a></li>
                </ul>
            </td>
            <td>{{ event.owning_group.name }}</td>
            {# class here is used for quick edit form population #}
            <td class="events-list-lecturers">
            {% for lecturer in event.lecturers %}
                <span>{% if not forloop.first %}, {% endif %}{{ lecturer }}</span>
            {% endfor %}
            </td>
            {# class here is used for quick edit form population #}
            <td class="events-list-location" >{{ event.location }}</td>
            <td>{{ event.timetable }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.updated_at }}</td>
        </tr>
    {% endfor %}
    </table>

    {% include "administrator/fragments/django-pagination.html" with url_params=url_params %}
    {# {% include "administrator/fragments/pagination.html" with pagination=event_matches.pagination %} #}
</section>
{% else %}
<section id="events" class="section-event-listing">
    <div class="event-table-header">
        <ul>
            <li><input id="select_all_events" type="checkbox" name="" value="all_events" /></li>
            <li>
	                <select name="fmt" id="export-options">
	                    <option>Export as...</option>
	                    <option value="csv">CSV</option>
	                  <!-- <option value="pdf">PDF</option> Disable PDF export until we get time -->
	                    <option value="ical">iCal</option>
	                </select>
            </li>

            <li>
                <select name="edit" id="edit-options">
                    <option>Edit ...</option>
                    <!-- <option value="classification">Classification</option> Disabled pending model/design issue resoluition see bulkeditclassification.py for details -->
                    <option value="lecture">Lecture</option>
                    <option value="location">Location</option>
                </select>
            </li>

            <li>
                <h4>Showing {{ event_matches_start }} to {{ event_matches_end }} of {{ event_matches_count }} events</h4>
            </li>

        </ul>
    </div>

    <table class="admin-table">
        <tr>
            <th><a href="?v=e&{% sort_column_href "subject" %}" class="{% sort_column_class "subject" %}" >Topic</a></th>
            <th><a href="?v=e&{% sort_column_href "level" %}" class="{% sort_column_class "level" %}" >Level</a></th>
            <th><a href="?v=e&{% sort_column_href "url" %}" class="{% sort_column_class "url" %}" >URL</a></th>
            <th></th>
        </tr>
    {% for event in event_matches %}
        <tr>
	        <td class="{% if forloop.counter|divisibleby:2 %}admin-table-dark{% endif %}">{{ event.subject }}</td>
            <td>{{ event.level }}</td>
            <td><a href="{{ event.external_timetable_url }}">{{ event.external_timetable_url }}</a></td>
            <td>
                <ul class="list-horizontal">
                    <li><a href="{% url "admin edit event" page_year.url_id page_organisation.url_id event.group_id  %}" class="edit-data">Edit</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>

    {% include "administrator/fragments/django-pagination.html" with url_params=url_params %}
</section>
{% endif %}
{% endblock admin-page-content %}
