{% extends "administrator/editor-base.html" %}

{% block editor-base-footer %}
<section id="history">
    <h2>Change History</h2>
    {% include "administrator/fragments/recent-changes.html" with recent_changes=recent_changes %}
</section>
{% endblock editor-base-footer %}




