{% extends "administrator/administrator-base.html" %}
{% load url from future %}

{% comment %}
  WARNING:
  The behaviour of this page (as described in the UI) is incorrect. See the following
  issues:
    - https://collaboration.headlondon.com/issues/10783
    - https://collaboration.headlondon.com/issues/10782
{% endcomment %}

{% block admin-page-dialog %}
     {% include "administrator/fragments/imported-timetables-notification.html" %}
     
{% endblock admin-page-dialog %}


{% block admin-page-form-start %}
<form id="import-events-form" 
	action="{% url "admin import events" page_year.url_id page_organisation.url_id %}" 
	method="post" 
	enctype="multipart/form-data">
      {% csrf_token %}
{% endblock admin-page-form-start %}


{% block admin-page-form-end %}
</form>
{% endblock admin-page-form-end %}


{% block admin-header-additional-content %}
<!-- start additional content -->

{% include "administrator/fragments/error-notification.html" %}

<p class="descriptiveText">What timetable do these events belong to?</p>
{% include "administrator/fragments/classification-selection.html" %}
<!-- end additional content -->
{% endblock admin-header-additional-content %}


{% block admin-page-content %}

<div class="section-admin-content" id="section-admin-import-events">
    <section id="import-events">
        <h4>Import Events from CSV file</h4>
        <p class="red"><b>Importing events will overwrite existing events.</b></p>
        <input name="csv-event-file" type="file" value="browse" />
        <div class="validation_not_empty errormessage">Select a file to upload</div>
    </section>
</div>
<div class="section-admin-content" id="section-admin-can-borrow-events">

    <section id="can_borrow_events">
        <input type="checkbox" name="can_borrow" id="can_borrow" value="1" checked="checked" />
        <label for="can_borrow" >Make these events available for borrowing</label>
		<ul class="nav-horizontal nav-right admin-indent">
		    <li><input type="submit" class="btn-type1 btn-medium" /></li>
		</ul>
    </section>
</div>
{% endblock admin-page-content %}