{% extends "administrator/administrator-base.html" %}
{% comment %}
This page is the "Edit Classification" page from the admin blueprint. It
allows for the editing of an existing classification.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}


{% block admin-nav-breadcrumb-additional-content %}
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-dialog %}
     {% include "administrator/fragments/status-messages.html" %}
{% endblock admin-page-dialog %}

{% block admin-page-content-header-additional-content %}
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}
{% endblock admin-header-additional-content-root %}

{% block admin-page-form-start %}
    <form id="editor" action="{% url "admin save classifications" page_year.url_id page_organisation.url_id %}" method="post">
    {% csrf_token %}
{% endblock admin-page-form-start %}

{% block admin-page-content %}
<section id="add-classifications">

<p>Students will be able to see this information when the timetable is published.</p>

<div class="section-admin-content-group" id="add-classifications-form">

{% include "administrator/fragments/error-notification.html" %}

{% include "administrator/fragments/edit-classification.html" %}

</div>


<ul class="nav-horizontal nav-right">
    <li><a class="btn-type2 btn-medium" href="{% url "admin classifications" page_year.url_id page_organisation.url_id %}">Cancel</a></li>
    <li><input type="submit" value="Save" class="btn-type1 btn-medium" /></li>
</ul>

</section>

{% endblock admin-page-content %}

{% block admin-page-form-end %}
    </form>
{% endblock admin-page-form-end %}
