{% extends "administrator/administrator-base.html" %}


{% comment %}
This page is the "Revision Change Details" page from the admin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}

{% block admin-page-dialog %}
     {% include "administrator/fragments/status-messages.html" %}
{% endblock admin-page-dialog %}

{% block admin-page-content-header-additional-content %}

{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}
{% endblock admin-header-additional-content-root %}


{% block admin-page-content %}

<section id="revision-data">
    <table class="admin-table-light">
        <tr>
            <th>Date Updated</th>
            <th>Administrator</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td>{{ revision.created }}</td>
            <td>{{ revision.user.get_full_name }}</td>
            <td>{{ revision.comment }}</td>
        </tr>
    </table>
</section>

<section id="group-data">
    <table class="admin-table-light">
        <tr>
            <th>Series</th>
            <th>Group</th>
            <th>Lecturer</th>
            <th>Timetable</th>
        </tr>
        <tr>
            <td>{{ event_group_version.series }}</td>
            <td>{{ event_group_version.name }}</td>
            <td>{% for lecturer in event_group_version.lecturers %}{{ lecturer.name }} {% endfor %}</td>
            <td>{% for timetable in event_group_version.timetables %}{{ timetable.name }} {% endfor %}</td>
        </tr>
    </table>
</section>

<section id="editor">

<div class="section-admin-event-listing" id="revision-static-overview">
    <div class="section-admin-heading"></div>
    <div class="section-admin-content">
    <p class="descriptiveText">What timetable do these events belong to?</p>
{% include "administrator/fragments/classification-selection.html" with classification_form_classes="disabled" %}
    </div>
</div>
<div id="revision-editor">
{% include "administrator/fragments/editor-group.html" %}
</div>
</section>

{% if can_write %}
<form action="{% url "admin change history revert" page_year.url_id page_organisation.url_id %}" method="post" >
     {% csrf_token %}
	<input type="hidden" name="versionid" value="{{ event_group_version.id }}">
	<input type="submit" name="submit" value="Revert" class="btn-type1 btn-medium btn-right"  />
</form>
{% endif %}

{% endblock admin-page-content %}
