{% extends "administrator/administrator-base.html" %}
{% load url from future %}
{% comment %}
This page is the "Administrators" page from the admin blueprint.
{% endcomment %}

{# Required to use variables in url tags. #}
{% load url from future %}

{% block admin-nav-breadcrumb-additional-content %}
{% if can_admin %}
<a href="{% url "admin add administrator" page_year.url_id page_organisation.url_id %}" class="btn-type1 btn-medium">Add New Administrator</a>
{% endif %}
{% endblock admin-nav-breadcrumb-additional-content %}

{% block admin-page-content-header-additional-content %}
<form>
    <input type="text" name="q" value="{{ search_term }}" placeholder="Search Administrators">
    <input type="submit" name="" value="&gt;" class="btn-type1">
</form>
{% endblock admin-page-content-header-additional-content %}

{% block admin-header-additional-content-root %}
{% endblock admin-header-additional-content-root %}


{% load timetables_tags %}
{% block admin-page-content %}
<section id="administrators">

    <table class="admin-table-light">
    <tr>
        <th><a href="?{% sort_column_href "name" %}" class="{% sort_column_class "name" %}" >Name</a></th>
        <th><a href="?{% sort_column_href "email" %}" class="{% sort_column_class "email" %}" >Email</a></th>
        <th>Key Faculty Administrator</th>
    </tr>
    {% for admin in administrators %}
        <tr>
        	{% if can_admin %}
            <td><a href="{% url "admin edit administrator" page_year.url_id page_organisation.url_id admin.username %}">{{ admin.username }}</a></td>
            {% else %}
            <td>{{ admin.username }}</td>
            {% endif %}
            <td>{{ admin.email }}</td>
            <td>
            {% if admin in key_administrators %}
                <span class="ic-wink"></span>
            {% endif %}
           </td>
        </tr>
    {% endfor %}
    </table>
    
    
    {% include "administrator/fragments/django-pagination.html" with url_params=url_params %}
</section>
{% endblock admin-page-content %}