{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/administrator.css" %}">
{% endblock %}

{% block title-area %}
<form>
	<div class="left wide">
	    <select id="select-subject" class="select-subject">
	    {% for organisation in organisations %}
	        {% if organisation.id == page_organisation.id %}
	        	<option value="{{ organisation.code }}" selected="selected">{{ organisation.name }}</option>
	        {% else %}
	        	<option value="{{ organisation.code }}">{{ organisation.name }}</option>
	        {% endif %}
	    {% endfor %}
	    </select>
	
		<input type="hidden" id="select-subject-initial" value="{{ page_organisation.code }}" />
	</div>
    
    <!-- 
    <div id="select-subject-skin" class="select-subject-skin">
	    {% for organisation in organisations %}
	        {% if organisation.id == page_organisation.id %}
	        	{{ organisation.name }}
	        {% endif %}
	    {% endfor %}
        <span class="ic-select-arrow"></span>
    </div>
     -->
    
    <div class="right">
	    <select id="select-date" class="select-date">
	    {% for year in years %}
	        {% if year.id == page_year.id %}
	        	<option value="{{ year.url_id }}" selected="selected">{{ year.name }}</option>
	        {% else %}
	        	<option value="{{ year.url_id }}">{{ year.name }}</option>
	        {% endif %}
	    {% endfor %}
	    </select>
	    
	    <input type="hidden" id="select-date-initial" value="{{ page_year.url_id }}" />
	</div>
    
    <!-- 
    <div id="select-date-skin" class="select-date-skin">
	    {% for year in years %}
	        {% if year.id == page_year.id %}
	        	{{ year.name }}
	        {% endif %}
	    {% endfor %}
        <span class="ic-select-arrow"></span>
    </div>
     -->
    
</form>
{% endblock title-area %}

{# Override entire center of page from student template. #}
{% block content %}
<nav class="nav-breadcrumb">
{% block admin-nav-breadcrumb %}
    <ul>
        <li><b>You are here:</b></li>
        {% for page in breadcrumbs.traverse %}
        <li>
            {% include "administrator/fragments/output_page.html" with page=page %}
        </li>
        {% endfor %}
    </ul>
    
    <aside class="nav-breadcrumb-additional-content">
    {% block admin-nav-breadcrumb-additional-content %}
    {% endblock admin-nav-breadcrumb-additional-content %}
    </aside>
{% endblock admin-nav-breadcrumb %}
</nav>

<nav class="left-col">
{% block admin-nav-main %}
    <ul class="section-admin-navigation">
    {% include "administrator/fragments/output_page.html" with page=navigation %}
    {% for page in navigation %}
        {% include "administrator/fragments/output_page.html" %}
        {% if page.children %}
        <li>
            <ul class="section-admin-subnavigation">
            {% for page in page.children %}
                {% include "administrator/fragments/output_page.html" %}
            {% endfor %}
           </ul>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock admin-nav-main %}
</nav>

<!-- TODO: Include flashed messages here using 
           https://docs.djangoproject.com/en/dev/ref/contrib/messages/ -->

<div class="right-col">
    {% block admin-page-dialog %}
    {% endblock admin-page-dialog %}
    {% block admin-page-form-start %}
    {% endblock admin-page-form-start %}

    
    <!-- TOOD: Change this class name to be more generic -->
    <div class="section-admin-event-listing">
    {% block admin-page-content-header %}
        <div class="section-admin-heading">
            <h2 class="admin-title">
            {% block admin-page-content-header-title %}
                {{ page_title|default:"DEFAULT TITLE" }}
            {% endblock admin-page-content-header-title %}
            </h2>
            
            <aside id="admin-page-content-header-additional-content">
            {% block admin-page-content-header-additional-content %}
            {% endblock admin-page-content-header-additional-content %}
            </aside>
        </div>
        {% block admin-header-additional-content-root %}
        <!-- TODO: Change class name to be more generic. -->
        <div class="section-admin-content">
        {% block admin-header-additional-content %}
        
        {% endblock admin-header-additional-content %}
        </div>
        {% endblock admin-header-additional-content-root %}
    {% endblock admin-page-content-header %}
    </div>

    {% block admin-page-content %}
    {% endblock admin-page-content %}    
    {% block admin-page-form-end %}
    {% endblock admin-page-form-end %}
</div>
{% endblock content%}